.session_main {
    border: 1px solid rgba(38, 36, 36, 0.378);
    border-radius: 10px;
    height: 70px;   
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34);
    background-color: transparent;
    cursor: pointer; 
  }
  .h1{
  font-family: 'Poppins', sans-serif;   
  font-weight: 400;
}

.img {
  height: 90%;
} 
.session_main:hover{
  border-color: #3D89A3;
  box-shadow: 1px 1px 1px #3D89A3;
}