.Session{
    width: 100%;
    border: 2px solid  black;
    background-color: gray;
    height: 50px;
}
.Cardpet{
    width: 100%;
    border: 2px solid  black;
    background-color: gray;
    height: 50px;
}