.input {
    display: flex;
    align-items: center;
    
    position: relative;
    width: 360px;
    box-sizing: border-box;
  
}
@media screen and (max-width: 600px) {
    .input{
        width: 200px;
    }
    .input input[type="text"] {
      font-size: 12px !important;
    }
    
    
}

.input input[type="text"] {
    width: 100%;
    border: none;
    padding:12px;
    border-radius: 42px;
    outline: none;
}


.input img {
    position: absolute;
    right: 20px;
    height: 20px;
    cursor: pointer;
}